section{
    border: green solid;
    width: 400px;
    height: 560px;
    background-color: rgb(87, 175, 252);
    border-radius: 10px;
}
#party2{
    position: relative;
    left: 400px;
    bottom: 566.4px;
    background: linear-gradient(to top left, #9e5959, #f31313);}
main{
    position: relative;
    left:224px;
    top:40px
}
body{
    background: linear-gradient(to top left, #28b487, #7dd56f);
}
.curs{position: absolute;
    font-size:36px;
    display: block;
    top: 360px;
    width: 205px;
    padding: 5px;
    height: 144px;
    left:96px;
    background-color: aqua;
    border: black solid;
}
.sct{ position: relative;
    display: block;
    top:16px;
    left: 90px;
    font-family: Arial, Helvetica, sans-serif;   
}
button{
    width: 120px;
    border-radius: 16px;
    background-color: rgb(119, 220, 186);
}
div{
    border-radius: 19px;
}
.title{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 56px;
    left : 72px;
}
.sc{position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 56px;
    left:200px;
}
.hold2{
    position:absolute ;
    left:344px;
    top:400px;
}
#new{
    position:absolute ;
    left:344px;
    top:160px;
}
#roll{
    position:absolute ;
    left:344px;
    top:320px;
}
#imgr{position: absolute;
    width:80px;
    height: 80px;
    top:200px;
    left: 360px;
    font-size: 32px;
}
.img0{
    position: absolute;
    display:none;
}
